.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.main {
  display: flex;
  min-height: calc(100vh - 310px);
  flex-direction: column;

}

main {
  flex: 1 0 auto;
}

.navig {
  padding: 1rem;
  height: 100px;
}

.goods {
  display: flex;
  max-width: 1280px;
  margin: 4rem auto;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  margin: 10px !important;
  background-color: cyan;
}
.card .card-content {
  padding: 45px !important; 
}
.btn:hover {
  font-size: 18px;
  transition: 0.5s;
}